<p>testing this page for quizzes. created a partial to display on the intro erb</p>

<%=form_tag quiz_index_path do %>
<%=label_tag :answer1  %>
<%=check_box_tag :answer1%>
<%#=label_tag :answer1  %>
<%=check_box_tag :answer1%>
<%#=label_tag :answer1  %>
<%=check_box_tag :answer1%>
<%=label_tag :answer1  %>
<%=check_box_tag :answer1%>
<%=submit_tag "Submit" %>
<% end %>