<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Voting App: Learn the label</title>
		<script src= "application.js" text="text/javascript"></script>
	</head>
	<div class= "content">
		<div class="content-inner">
			<div id="quiz-intro" class="text-center">
				<h2>who's your 2016 candidate match?</h2>
				<button class="start-button" tpye="button">START QUIZ</button>
			</div>
<!-- quiz form will go here -->

<%= form_for @quiz, url: (action: :create) do |q| %>
<%= q.check_box :answers  %>
<%= q.check_box :answers  %>
<%= q.check_box :answers  %>
<%= q.check_box :answers  %>
<%= q.button :submit %>
<% end %>

<!-- <%= simple_form_for @quiz do |f| %>
   <%= f.input :answer1, as: :boolean, checked_value: true, unchecked_value: false %>
   <%= f.button :submit %>
<% end %> -->

<!-- it will contain the question and answerws in the .question-containter and .answer-container + submit button  -->

		</div>
	</div>


<!-- this page includes the quick liberal/conservative definitions and issues "spine"  --> -->

<h1>What's the Difference?</h1>

<img src="http://www.thepridepages.com/wp-content/uploads/2013/11/senate-building.png">

<h2>
	The American Political system currently revolves around two different mindsets: Liberal and Conservative (or left and right, accordingly). The Democratic party is associated with holding mostly left-wing or liberal positions, while the Republican party is associated with holding mostly right wing or conservative positions. There are other positions and parties (The Green party being a famous example), but they are generally outliers with little to no impact on the current political process.
</h2>

<img src="http://www.flagguys.com/img/poldem.gif">

<h2>
	For a person to be Liberal generally means that they base their worldview and political opinions towards creating the most freedom for the individual, while also protecting the rights that govern individuals' ability to act as they see fit. They see the government as a method of ensuring those freedoms remain intact, enforcing rules to ensure a general equality among all people. 
</h2>

<img src="http://www.thenewsburner.com/wp-content/uploads/2012/09/081025_gop_logo.jpg">

<h2>
	For a person to be Conservative generally means that they base their worldview and political opinions towards maintaining a preestablished order, or returning society to an idea of "the way things were." In American politics, Conservatives tend to see the large, federal government (The White House, the Senate, etc.) as too much of an authority, restricting small groups of people (such as states) from self-governing as they see fit. 
</h2>

<h2>
	As a rule of thumb, Liberalism tends to embrace change, while Conservatives tend to avoid change. Liberals tend to favor raising taxes and using the money gained on government programs, while Conservatives tend to favor lowering taxes and letting the government take a backseat to how money and culture are handled within a country. 
</h2>
<h2>
	For example, a Liberal view might be to place restrictions on stock traders at Wall Street to prevent them from cheating their clients. A Conservative view might be to let the customers make their own decisions, and stop using Wall Street as customers if they find out they are being cheated, effectively letting the customers regulate the market on their own.
</h2>

<div class="quiz-container">
	<p>Some text about the quiz and the 6 issues quizzes go here.</p>
	<br>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
</div>


</div>
<div class="results">
	<h3>Your results:</h3>
	<p>(Quiz results display here)</p>
</div>















<p>See what the 2016 Dem prez candids think...</p>

<!-- link to the dem index page
