<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Voting App: Learn the label</title>
		<script src= "application.js" text="text/javascript"></script>
	</head>
	<div class= "content">
		<div class="content-inner">
			<div id="quiz-intro" class="text-center">
				<h2>who's your 2016 candidate match?</h2>
				<button class="start-button" tpye="button">START QUIZ</button>
			</div>
<!-- quiz form will go here -->
<%= form_for @quiz do |q| %>
<%=q.label :question1%>
<%= q.check_box :answer1  %>
<%=q.label :question%>
<%= q.check_box :answer2  %>
<%=q.label :question%>
<%= q.check_box :answer3  %>
<%=q.label :question%>
<%= q.check_box :answer4  %>
<%= q.submit %>
<% end %>
<!-- it will contain the question and answerws in the .question-containter and .answer-container + submit button  -->

		</div>
	</div>


<<<<<<< HEAD
<!-- this page includes the quick liberal/conservative definitions and issues "spine"  --> -->

<h1>What's the Difference?</h1>
=======
>>>>>>> da1db8c1c563669deac0e22ace61b3e82e6aa045
<h2>Poly Sci 101 text here</h2>

<div class="quiz-container">
	<p>Some text about the quiz and the 6 issues quizzes go here.</p> 
	<br>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
</div>


</div>
<div class="results">
	<h3>Your results:</h3>
	<p>(Quiz results display here)</p>
</div>















<p>See what the 2016 Dem prez candids think...</p>

<<<<<<< HEAD
<!-- link to the dem index page
=======
>>>>>>> da1db8c1c563669deac0e22ace61b3e82e6aa045
