<h1>Sign Up</h1>
<!-- Sign up form goes here -->
<<<<<<< HEAD
=======
<div class="sign-up-form">
>>>>>>> 826b0253533bffe70db00975e81abc53090267ea
<%=form_for @voter do |f| -%>
  <%=f.label :email %>
  <%=f.text_field :email %>
  <%=f.label :password %>
  <%=f.password_field :password %>
  <%=f.submit%>
<% end %>
<<<<<<< HEAD
=======
</div>
>>>>>>> 826b0253533bffe70db00975e81abc53090267ea
<!-- Once they sign up, they go to the intro page -->