<div class="sign-up-form">
<h3>Sign Up</h3>
<%=form_for @voter do |f| %>
  <%=f.label :email %>
  <%=f.text_field :email %>
  <br>
  <%=f.label :password %>
  <%=f.password_field :password %>
  <%=f.submit "Create account"%>
<% end %>

</div>
