<h3>Sign Up</h3>

<div class="sign-up-form">
<%=form_for @voter do |f| -%>
  <%=f.label :email %>
  <%=f.text_field :email %>
  <br>
  <%=f.label :password %>
  <%=f.password_field :password %>
  <%=f.submit%>
<% end %>

</div>
