<div class="candidate">
	<h3>Your best match: <%= @c.fname %> <%= @c.lname %></h3>
	<%= image_tag @c.avatar.url(:medium) %>
	<p><b>Party:</b> <%= @c.party %></p>
	<p><b>Hometown:</b> <%= @c.city %>, <%=@c.state%></p>
</div>

<div class="score">
Your Quiz Score is:
Conservative Percentage:
<%=@v.conVal %>
Liberal Percentage: 
<%=@v.libVal %>
</div>